/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Gilroy', sans-serif; /* Não tem a fonte no google fonts */
  background-color: #fff;
}

.container {
  width: 1440px;
  margin: 0 auto;
  border-radius: 12px;
}

/* HEADER */
.header,
.header-menu,
.header-search,
.bag {
  display: flex;
}

.header {
  height: 92px;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  font-family: 'Gilroy', sans-serif;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.header-menu li {
  margin: 0 21px;
}

.header-menu li a {
  color: #1f1f1f;
  text-decoration: none;
}

.header-search input {
  width: 235px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50px;
  padding: 17px 17px 17px 48px;
  font-size: 20px;
}

.search-button {
  width: 28px;
  height: 28px;
  position: absolute;
  margin: 12px;
}

.bag {
  width: 52px;
  height: 52px;
  margin-left: 24px;
  border-radius: 52px;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
}

/* INTRO */
.intro {
  display: flex;
}

.intro-content h2 {
  width: 581px;
  margin-top: 91px;
  font-family: 'Gilroy', sans-serif;
  font-size: 104px;
  line-height: 104px;
  color: #dadada;
  color: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
}

.intro-text {
  width: 475px;
  margin-top: 24px;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.add-bag {
  width: 336px;
  height: 84px;
  margin-top: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1f1f1f;
  border-radius: 12px;
}

.add-bag p {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  margin-right: 24px;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.plus div:nth-child(1),
.plus div:nth-child(2) {
  width: 18px;
  height: 2px;
  position: absolute;
  float: right;
  background: #1f1f1f;
}

.plus div:nth-child(2) {
  transform: rotate(90deg);
}

.intro-img {
  width: 581px;
  height: 581px;
  margin-left: 217px;
  margin-top: 80px;
}

/* PRODUCTS */
.products {
  height: 792px;
  background-color: #f3f3f3;
  margin-top: 200px;
}

.product-content,
.product-menu,
.product-result,
.product-result .content,
.product-content button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products h3 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #1f1f1f;
  text-align: center;
  padding-top: 64px;
}

.product-content {
  width: 464px;
  margin: 62px auto;

  flex-direction: column;
}

.product-menu {
  list-style: none;
}

.product-menu .options {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin: 0 10px;
  cursor: pointer;
}

.product-menu .white {
  background: linear-gradient(270.06deg, #e4e4e4 20.97%, #ffffff 99.92%);
  opacity: 0.5;
  border: 2px solid #ffffff;
}

.product-menu .neutral {
  background: linear-gradient(277.74deg, #ffe08d 9.16%, #ffb757 91.03%);
  opacity: 0.5;
  border: 2px solid #ffffff;
}

.product-menu .bew {
  background: linear-gradient(270.06deg, #464646 20.97%, #d3d3d3 99.92%);
  opacity: 0.5;
  border: 2px solid #ffffff;
}

.product-menu .black {
  background: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
  opacity: 0.5;
  border: 2px solid #ffffff;
}

.product-menu .checked {
  border: 2px solid rgba(31, 31, 31, 0.5);
}

.product-result {
  width: 464px;
  height: 315px;
  margin-top: 32px;
  list-style: none;
}

.product-result .content {
  position: absolute;
  opacity: 0;
  flex-direction: column;
}

.product-result .content p {
  margin-top: 45px;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.product-result .focus {
  opacity: 1;
}

.product-content button {
  width: 336px;
  height: 84px;
  margin-top: 92px;
  border: 2px solid #1f1f1f;
  border-radius: 12px;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #1f1f1f;
}

/* APRESENTATION */

.apresentation {
  margin-top: 200px;
}

.apresentation-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.apresentation-block .text {
  width: 518px;
  font-family: 'Gilroy', sans-serif;
}

.apresentation-block .text h4 {
  font-weight: bold;
  font-size: 58px;
  line-height: 64px;
  /*color: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);*/
  color: #dadada;
}

.apresentation-block .text p {
  margin-top: 24px;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.amortecimento {
  flex-direction: row-reverse;
}

/* INSPIRATION */
.inspiration {
  width: 100%;
  height: 720px;
  padding: 0 16px;
  background: url('./../img/inspiration.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 104px;
  line-height: 104px;
  color: #ffffff;
  text-transform: uppercase;
}

.inspiration div {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 8px;
}

.inspiration img {
  width: 44px;
  height: 45px;
  margin-right: 22px;
}

/* CONTACT */
.contact {
  display: flex;
  height: 1198px;
}

.contact form {
  width: 613px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  padding: 40px 48px 48px 48px;
  border-radius: 0px 8px 8px 0px;
}

.contact img,
.contact form {
  height: 838px;
  margin-top: 200px;
}

.contact img {
  width: 827px;
}

.contact span {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 40px;
  color: #1f1f1f;
}

.contact form input,
.contact form textarea {
  padding: 24px 28px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  border-radius: 12px;
}

.contact form input {
  height: 76px;
}

.contact form textarea {
  height: 260px;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #969696;
}

.contact div {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #969696;
}

.contact div input {
  width: 28px;
  height: 28px;
  margin: 0;
}

.contact div label {
  margin-left: 16px;
}

.contact button {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1f1f1f;
  border-radius: 12px;
  font-size: 20px;
  color: #1f1f1f;
  background-color: transparent;
}

/* FOOTER */
footer {
  background-color: #f3f3f3;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 336px;
  margin-top: 56px;
  list-style: none;
}

.column li,
.column .title {
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.column li:not(.title) {
  margin-bottom: 12px;
}

.column .title {
  margin-bottom: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo a {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #1f1f1f;
}

.social-network a {
  margin-right: 26.6px;
}

.designed-by {
  width: 100%;
  height: 68px;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.designed-by p {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #1f1f1f;
  margin-right: 8px;
}

.designed-by p:nth-child(2) {
  font-weight: bold;
  font-size: 26px;
}
